GITHUB_API_TOKEN=your_github_token_here
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=password123
RATE_LIMIT_SOCA_ENABLED=false
RATE_LIMIT_RSFC_ENABLED=true
OUTPUTS=\path\to\containers\outputs
PORTAL_PORT=8030

DASHBOARD_ORG_EMBED_ID=sqo-org
DASHBOARD_REPO_EMBED_ID=sqo-repo
SUPERSET_PUBLIC_DOMAIN=http://localhost:8088
