GITHUB_API_TOKEN=your_github_token_here
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=password123
RATE_LIMIT_SOCA_ENABLED=false
RATE_LIMIT_RSFC_ENABLED=true
OUTPUTS=\path\to\containers\outputs
PORTAL_PORT=8030
PORTAL_ORIGIN=http://localhost:8030

DASHBOARD_ORG_EMBED_ID=eeb123c4-42b3-789c-7q2a-ti4c36ba5274
DASHBOARD_REPO_EMBED_ID=eeb123c4-42b3-789c-7q2a-ti4c36ba5274
SUPERSET_DOMAIN=http://host.docker.internal:8088
SUPERSET_PUBLIC_DOMAIN=http://localhost:8088
SUPERSET_USERNAME=admin
SUPERSET_PASSWORD=admin_secret_password
