*.bck
*.backup
*.swp

*.secret
*secret*
*cred.json
*credential*
*credentials.json

kubernetes/deployments
dashverse-values-with-secrets.yaml

**/DBModel/db_config.json
*-generate_jwt.sh

*.log
*.pyc

venv
.venv
venv3
.venv3

.direnv

*.env
